/* join__form */
.join__inner{
    padding: 10% 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__form {
    padding: 10% 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 1.2em;
}
.join__form label.required::after {
    content: " *";
    color: #ff0000;
}
.join__form input {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 5px;
    padding: 1em 2em;
    border: 0;
    font-weight: 300;
}

/* media */
@media (max-width:600px){
    .intro__inner.center .intro__text{
        font-size: 1rem;
        padding: 0;
    }
    .join__form {
        padding: 10% 10% 5% 10%;
    }
    .join__inner h2 {
        font-size: 24px;
    }
    .join__form div label {
        font-size: 1rem;
    }
    .join__form div input {
        padding: 0.6em 1em;
        font-size: 1rem;
    }
    .join__form button {
        margin: 2em auto;
        font-size: 1.2rem;
    }
    .join__form div {
        margin-bottom: 2em;
    }
}