/* skip */
#skip {
    position: relative;
    z-index: 1000000;
}
#skip a {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: -400px;
    top: 0;
    padding: 20px 40px;
}
#skip a:active,
#skip a:focus {
    left: 0;
}

/* color Style */
.gray {
    background-color: var(--bg__gray);
}
.black {
    background-color: var(--bg__black);
}
.white {
    background-color: var(--color__white) !important;
    color: var(--color__black) !important;
}



/* font */
body.macintosh {
    font-family: var(--main__win) !important;
}
body.windows {
    font-family: var(--main__win) !important;
}

/* container */
.container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

/* border style */
.bmStyle {
    border-bottom: 3px solid var(--color__black);
    position: relative;
    margin-bottom: 5px;
}
.bmStyle::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--color__black);
}
.btStyle {
    border-top: 3px solid var(--color__black);
    position: relative;
}
.btStyle::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: -8px;
    background-color: var(--color__black);
}

/* btn style */
.btnStyle {
    display: block;
    background-color: var(--bg__black);
    color: var(--color__white);
    margin: 5em auto;
    font-size: 1.2em;
    padding: 0.5em 3em;
    border-radius: 50px;
    cursor: pointer;
}
.btnStyle2 {
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--color__black);
    color: var(--color__white);
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
}

/* 기본버튼 스타일 */
.btnStyle3 {
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    color: #fff;
    background-color: #7E7E7E;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    font-size: 16px;
}



/* .btnStyle3{
    display: inline-block;
    width: 5em;
    font-size: 1.2em;
    background-color: var(--bg__black);
    color: var(--color__white);
    border-radius: 5px;
    padding: 0.5em;
}
.btnStyle4{
    display: inline-block;
    width: 5em;
    font-size: 1.2em;
    background-color: var(--bg__white);
    color: var(--color__black);
    border-radius: 5px;
    padding: 0.5em;
} */

/* 간격설정 */
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 70px !important;}
.mt70 {margin-top: 60px !important;}

.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb100 {margin-bottom: 100px !important;}





/* input style */
.inputStyle {
    background-color: #ffffff;
    width: 100%;
    border: 0;
    font-weight: 300;
    padding: 4px 15px;
    color: #7e7e7e;
}



/* label style */
label {
    display: block;
    margin-bottom: 2px;
    font-size: 1.2em;
}
label.required::after {
    content: ' *';
    color: red;
}

/* listStyle */
.listStyle li {
    padding-left: 16px;
    position: relative;
}
.listStyle li::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--color__black);
    position: absolute;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.listStyle2 li {
    padding-left: 20px;
    position: relative;
}
.listStyle2 li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--color__black);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* media */
@media (max-width : 1300px){
    .container {
        width: 98%;
    }
}
@media (max-width : 600px){
    .container {
        width: 100%;
        padding: 0 20px;
    }
}